/***********************************************************************************/
/*                                GENERAL STYLES                                   */
/***********************************************************************************/
html, body {
    height:100%;
}
body {
    margin:0;
    padding:0;
    overflow:hidden;
    font-family: arial, sans-serif;
}
ol, ul {
    list-style:none;
    margin:0;
    padding-left:3px;
}
img {
    border:0;
}
.list .item-odd {
    background-color:lightgray;
}
.dimmed {
    filter:alpha(opacity=40);
    opacity:0.4;
}
.refresh {
	cursor:pointer;
}
.header {
    background-color:lightgray;
    border-bottom:1px #009be3 solid;
}
.clear {
    clear:both;
}
.row1 {
	background-color:#f5f5f5;
}
.left {
	float:left;
}
.right {
	float:right;
}
/***********************************************************************************/
/*                             SPECIFIC STYLES                                     */
/***********************************************************************************/
/***** player styles *****/
#jp_container_1 {
	float:right;
	width:85%;
}
/***** playlist styles *****/
#playlists-container {
	width:14.75%;
    border:1px #009be3 solid;
    overflow-y:auto;
    float:left;
}
#playlists {
	min-height:13em;
}
/***** marquee styles *****/
#marquee {
    border:1px #009be3 solid;
    overflow:hidden;
    vertical-align:middle;
    height:1.5em;
    background-color: lightgray;
    margin-bottom:2px;
    padding:1px;
    text-align:center;
}
#marquee .title {
    font-weight:bold;
    font-size:115%;
}
#marquee .artist, #marquee .album {
    font-style:italic;
}
/***** selectors (artist, album) styles *****/
#selectors {
    margin-top:3px;
    padding:0;
    width:85%;
    float:right;
}
#artist-selector, #album-selector {
    border:1px #009be3 solid;
    width:49.75%;
}
#artist-selector {
    float:left;
}
#album-selector {
    float:right;
}
#artist-list, #album-list {
    height:13em;
    overflow-y:auto;
}
.entry {
    font-size:0.9em;
    height:1.5em;
}
.entry a {
    text-decoration:none;
}

/***** collection styles *****/
#collection {
    margin-top:3px;
    border:1px #009be3 solid;
    overflow-y:auto;
    width:85%;
    float:right;
}
#entries { /* table */
    width:100%;
}
#entries tr th {
    border-bottom:1px #009be3 solid;
	text-align:left;
	cursor:pointer;
}
#entries .track {
    width:4%;
}
#entries td {
    width:31%;
}
.entry .play img {
    position:relative;
    margin:0 5px;
    top:2px;
}
.now-playing {
    background-color:lightblue;
}
